---
import IconLink from "@/components/icon-link.astro";
import Github from "@/components/icons/github.astro";
import LinkedIn from "@/components/icons/linkedin.astro";
import { Mail, FileUser } from "lucide-react";

import BaseLayout from "@/layouts/base.astro";
import CenterLayout from "@/layouts/center.astro";
import ProfilePicture from "@/components/profile-picture";

const animation =
  "animate-in fade-in duration-1000 ease-[cubic-bezier(0.36, 1, 0.36, 1)] fill-mode-backwards";
---

<BaseLayout title="home">
  <CenterLayout>
    <div class="my-auto flex flex-col items-center gap-8 px-4 py-8">
      <div class=`${animation} slide-in-from-top-14 h-32 w-32`>
        <ProfilePicture client:load />
      </div>
      <h1
        class=`${animation} slide-in-from-top-12 delay-250 text-4xl font-extrabold tracking-tight`
      >
        cpatino
      </h1>
      <div
        class=`${animation} slide-in-from-top-6 delay-500 flex flex-wrap justify-center gap-4 md:gap-6`
      >
        <IconLink icon={Github} href="https://www.github.com/c4patino" />
        <IconLink icon={LinkedIn} href="https://www.linkedin.com/in/c-patino" />
        <IconLink icon={Mail} href="mailto:c4patino@gmail.com" />
        <IconLink icon={FileUser} href="/resume.pdf" />
      </div>
    </div>
  </CenterLayout>
</BaseLayout>
